.perksContainer {
  display: flex;
}

.perks {
  border: 1px solid #222;
  padding: 20px;
  flex-grow: 1;
  margin: 10px;
}

.perksAnimated {
  animation: test 0.5s forwards;
}

@keyframes test {
  0% {
    background: #fff;
  }

  100% {
    background: #222;
  }
}
